script(type='text/ng-template', id='items')
    div(ng-if='rData.user')
        .row.spacer
            .col-xs-12.col-sm-7.col-md-8
                .form-group
                    select.form-control(ng-disabled='sData.references.length < 1', ng-options='r._id as r._name for r in sData.references | orderBy : "_name"', ng-model='sData.selectedReference')
                        option(value='')

            .col-xs-12.col-sm-5.col-md-4
                .form-group.has-feedback
                    input.form-control(type='search', ng-model='search')
                    span.glyphicon.glyphicon-search.form-control-feedback(aria-hidden="true")

        .row.spacer(ng-if='sData.items.length > 0')
            label.col-xs-12(ng-repeat='item in sData.items | filter : search | orderBy : "_name"', for='item-{{ item._id }}')
                input(ng-disabled='!sData.selectedReference', type='checkbox', id='item-{{ item._id }}', ng-checked='isReferenceSet(item._referenceIds)', ng-click='setReference($event, item)')
                | {{ item._name }}

        .row.spacer(ng-if='sData.items.length > 0')
            .col-xs-12.text-center {{ sData.items.length }}
