doctype html
html(ng-app='inventuurApp')
    head
        title(ng-if='rData.pageTitle') {{ rData.pageTitle }} - Inventuur
        title(ng-if='!rData.pageTitle') Inventuur

        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui')
        meta(name='apple-mobile-web-app-capable', content='yes')

        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Raleway:400,700,300')

        style @@include('stylesheet.css')

        script @@include('javascript.js')

    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-left
                    .navbar-brand(ng-if='rData.pageTitle') {{ rData.pageTitle }}
                    .navbar-text(ng-if='rData.user') {{ rData.user.name }}

                ul.nav.navbar-nav.navbar-left
                    li.navbar-text
                        img(is-loading, src='/images/loader.gif')

                ul.nav.navbar-nav.navbar-right(ng-if='rData.user')
                    li
                        a(href='/#/{{ rData.customer }}/logout') Välju

        #content.container
            div(ng-view)

        .container
            .row.spacer

        include start
        include items

    script.
        $(window).scroll(function(event) {
            if($(window).scrollTop() > 10) {
                $('.navbar').addClass('navbar-border')
            } else {
                $('.navbar').removeClass('navbar-border')
            }
        })
